apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin@liu.ms
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - dns01:
          route53:
            region: us-east-1
            hostedZoneID: Z043022519CWCUST3RXOH
            accessKeyID: AKIAXBWJKICXLEELMQZO
            secretAccessKeySecretRef:
              name: route53-credentials
              key: secret-access-key
